# requirements.txt
torch==2.6.0+cu126
torchvision==0.15.0+cu126
torchaudio==2.1.0+cu126
transformers
tiktoken
sentencepiece
numpy
scipy
nltk
pandas
sacrebleu
datasets
tqdm
matplotlib
tensorboard
peft
pathlib
logging
